<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>▶ %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp-%msg%n</pattern>
		</encoder>
	</appender>


	
	  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>C:/logs/forum/logFile.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>C:/logs/forum/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

      <!-- keep 30 days' worth of history capped at 3GB total size -->
      <maxHistory>30</maxHistory>

    </rollingPolicy>

    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} -%kvp- %msg%n</pattern>
	  <fileNamePattern>C:/logs/forum/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
    </encoder>

  </appender>
  
 
  <!-- File = Info -->
  <logger name="com.hello" level="info">
  <append-ref ref="FILE" />
  </logger>

 <logger name="org.springframework" level="info">
 <append-ref ref="FILE" />
 </logger>  
 
   <!-- Console = Debug -->
  	<root level="debug">
		<appender-ref ref="STDOUT" />
		<!--<appender-ref ref="FILE" />  -->
	</root> 
</configuration>